<table class="table">
  <thead>
  <tr>
    <th scope="col">Наименование Дисциплины</th>
    <th scope="col">Количество часов</th>
    <th scope="col">экзамен</th>
    <th scope="col">зачет</th>
    <th scope="col">КП, КР</th>
    <th scope="col">Дата Сдачи</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lesson of lessonList">
      <td>{{lesson.name}}</td>
      <td>{{lesson.countHours}}</td>
      <td> <app-check-icon [isActive]="lesson.hasExam"> </app-check-icon></td>
      <td> <app-check-icon [isActive]="lesson.hasOffset"> </app-check-icon></td>
      <td> <app-check-icon [isActive]="lesson.hasTest"> </app-check-icon></td>
      <td>{{getDataFormat(lesson.data)}}</td>
    </tr>
  </tbody>
</table>
