<div class="accordion md-accordion">

  <div class="card">

    <div class="card-header" role="tab" id="headingOne1">
      <a (click)="onToggle()">
        <span class="mb-0">
          {{course.name}}
          <div class="float-right">
            <span *ngIf="!isShowContent" class="fa fa-chevron-down"></span>
            <span *ngIf="isShowContent" class="fa fa-chevron-up"></span>
          </div>
        </span>
      </a>
      <a href="#"><span [ngClass]="{'unset': !isPinked}" (click)="onPick()" class="fa fa-thumb-tack pink-icon" ></span></a>
    </div>

    <div *ngIf="isShowContent">
      <div class="card-body">
        <app-session-container
          [sessions]="course.sessions"
        ></app-session-container>
      </div>
    </div>

  </div>

</div>

